<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837843863944-atfvuf23672egho9no60080dtktbq04s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837843863944-atfvuf23672egho9no60080dtktbq04s</string>
	<key>API_KEY</key>
	<string>AIzaSyBQp3vczfheMu6zegYJE-1zc3ddVq1ce3M</string>
	<key>GCM_SENDER_ID</key>
	<string>837843863944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clementsicard.studyHelper</string>
	<key>PROJECT_ID</key>
	<string>studyhelper-fddce</string>
	<key>STORAGE_BUCKET</key>
	<string>studyhelper-fddce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837843863944:ios:b623efbfb2a9300c66523d</string>
</dict>
</plist>